MONGODB_URL = mongodb+srv://your-username:your-password@cluster0.your-mongodb.net/?retryWrites=true&w=majority

GOOGLE_CLIENT_ID = your-google-client-id
GOOGLE_CLIENT_SECRET = your-google-client-secret

NEXTAUTH_SECRET = your-nextauth-secret
NEXTAUTH_URL = your-nextauth-url

EMAIL = your-email@example.com
EMAIL_PASS = your-email-password
